<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      header {
        display: flex;
        gap: 20px;
        margin: 10px;
      }
      header a {
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
        color: rgb(58, 101, 193);
        background-color: lightblue;
        padding: 0 10px;
      }
      header button {
        border: none;
        background-color: lightblue;
        font-size: 20px;
        cursor: pointer;
        color: rgb(58, 101, 193);
        padding: 0 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <% if (isLoggedIn()) { %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button>Logout</button>
        </form>
        <a href="/">Home</a>
        <% } %>

      <!-- <nav>
        <a href="/">home</a>
        <a href="/login">login</a>
        <a href="/users/signup">signup</a>
        <% if (isLoggedIn()) { %>
        <a href="/travel/new">share a dish</a>
        <% } %>
      </nav> -->
    </header>

    <%- body %>
  </body>
</html>